.App {
  text-align: center;
  
}

.green {
  background-color: lightgreen;
  border-radius: 10px;
  margin: 10px auto;
  width: 40%;
}

.red {
  background-color: lightcoral;
  border-radius: 10px;
  margin: 10px auto;
  width: 40%;
}
