.App {
  text-align: center;
  
}
.messageContainer{
  display: flex;
  flex-direction: column;
}

.green {
  background-color: lightgreen;
  border-radius: 10px;
  margin: 10px;
  justify-content: flex-start;
  width: 40%;
}

.red {
  background-color: lightcoral;
  border-radius: 10px;
  margin: 10px;
  justify-content: flex-end;
  width: 40%;
}
